:root {
  --gutter: 20px;
  --gray1: #aaa;
  --gray2: #ccc;
  --gray3: #eee;
  --gray4: whiteSmoke;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  margin: var(--gutter);
}

.custom {
  padding: var(--gutter);
  background: var(--gray4);
}

.insert-location {
  display: none;
  position: absolute;
  pointer-events: none;
  border-top: 2px solid var(--gray1);
}

.sortable-list {
  margin: -1px;
  overflow: auto;
  padding: var(--gutter);
  background: var(--gray3);
  min-height: var(--gutter);
  border: 1px solid var(--gray2);
}

.row {
  display: flex;
}

.col {
  flex: 1;
  margin-left: -1px;
  background: white;
  min-height: var(--gutter);
  border: 1px solid var(--gray2);
}

.dim {
  opacity: 0.25;
}

.display-block {
  display: block;
}
