:root {
  --gutter: 20px;
  --gray1: #aaa;
  --gray2: #ccc;
  --gray3: #eee;
  --gray4: whiteSmoke;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  margin: var(--gutter);
}

.insert-location {
  display: none;
  position: absolute;
  pointer-events: none;
  border-top: 2px solid var(--gray1);
}

  .insert-location.active {
    display: block;
  }

.row {
  flex: 1;
  margin: -1px;
  display: flex;
  overflow: auto;
  padding: var(--gutter);
  background: var(--gray3);
  border: 1px solid var(--gray2);
}

.col {
  flex: 1;
  display: flex;
  margin-left: -1px;
  background: white;
  flex-direction: column;
  min-height: var(--gutter);
  border: 1px solid var(--gray2);
}

.item {
  padding: var(--gutter);
  background: var(--gray4);
}

.dim {
  opacity: 0.25;
}

  .dim > * {
    pointer-events: none;
  }

.display-block {
  display: block;
}
