body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  margin: 20px;
}

.custom {
  padding: 20px;
  background: whiteSmoke;
}

.insert-location {
  border-top: 2px solid #aaa;
  position: absolute;
  width: 240px;
  display: none;
  z-index: 10;
  pointer-events: none;
}

.sortable-list {
  min-height: 20px;
  background: #eee;
  padding: 20px;
  border: 1px solid #ccc;
  overflow: auto;
  margin: -1px;
}

.row {
  display: flex;
}

.col {
  border: 1px solid #ccc;
  min-height: 20px;
  background: white;
  flex: 1;
  margin-left: -1px;
}

.dim {
  opacity: 0.25;
}
